.footer {
  color: #ffffff;
  padding: 5%;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.footer-section {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 24px;
  margin-bottom: 16px;
  cursor: pointer;
}

.contact-us-text {
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .footer-icon {
    font-size: 14px;
  }

  .footer-section {
    gap: 15px;
  }

  .contact-us-text {
    font-size: 12px;
  }
}
